//Content Colors
$bg-default: #222a42;
$bg-default-20: #222a4233;
$bg-white: #ffffff;
$bg-white-70: #ffffff98;

//Border Colors
$br-default: #222a42;
$br-default-50: #222a4280;

//Text Colors
$text-default: #222a42;
$text-white: #ffffff;
$text-red: #dc3545;

//Shadow Colors
$sh-default: 0 0 0 0.2rem $bg-default-20;
